@import '../../../scss/main.scss';

.filter-items-row__container {
  display: flex;
  padding: 1rem 2rem;
  gap: 0.75rem;
  background-color: white;
  position: sticky;

  // top: 4rem;
  border-bottom: 1px solid transparent;
  overflow-y: auto;
  overflow-x: visible;

  @include remove-scrollbar;

  transition: border-bottom-color 0.4s;

  &.sticky {
    border-bottom-color: #e7e7e7;
  }

  > :first-child {
    transition: opacity 0.3s, width 0.3s, padding 0.3s;
    flex-shrink: 0;
    justify-content: flex-start;
    width: 0;
    padding: 0;
    opacity: 0;
  }

  > :nth-child(2) {
    transition: margin-left 0.3s;
    margin-left: -0.75rem;
  }

  &.show {
    > :first-child {
      width: 7rem;
      padding: 0 1rem;
      opacity: 1;
    }

    > :nth-child(2) {
      margin-left: 0;
    }
  }
}
