.shopping-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;
  height: fit-content;
  width: fit-content;

  gap: 10px;

  background-color: red;
  color: white;
  border-radius: 1000px;
  padding: 5px 15px;
  border: none;

  & > span {
    font-weight: bold;
    font-size: 16px;
  }

  &:hover {
    background-color: #dd0000;
    cursor: pointer;
  }
}
