:root {
  --marker-color: white;
  --icon-color: red;
}

.marker {
  position: relative;
  cursor: pointer;

  > div {
    box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    position: absolute;
    background-color: var(--marker-color);
    border-radius: 100%;
    padding: 0.5rem;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    svg {
      transition: all 0.2s;
      vertical-align: middle;
    }
  }

  &:hover,
  &.active {
    --marker-color: black;
    --icon-color: white;

    svg {
      height: 1.8rem;
      width: 1.8rem;
      color: white;
    }
  }

  &::after {
    transition: all 0.2s;
    content: '';
    border-inline: 5px solid transparent;
    border-top: 6px solid var(--marker-color);
    bottom: -5px;
    position: absolute;
    right: 50%;
    translate: 50% 0;
  }
}
