.sidebar__container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: auto;
  visibility: hidden;

  animation-duration: 0.2s;

  .sidebar__header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 16px;

    &.shadow {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    }

    > .sidebar__close-button:hover {
      cursor: pointer;
    }
  }
}
