.icon-button {
  :where(&) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    padding: 0.125rem;
    background-color: transparent;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}
