.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 300px;
  width: 100%;
  padding: 0.25rem 0;
  border-radius: 1000px;
  border: none;
  transition: filter 0.1s ease-in-out;

  & > span {
    font-weight: bold;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &.google {
    background-color: #4285f4;
    color: white;
  }
  &.facebook {
    background-color: #3b5998;
    color: white;
  }
  &.twitter {
    background-color: #1da1f2;
    color: white;
  }
}
