.filter-item-button {
  background-color: rgb(231, 231, 231);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  > .button-divider {
    width: 1px;
    height: 70%;
    background-color: #d2d2d2;
  }

  > .open-modal-button {
    height: 100%;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}
