.modal-signIn__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  & .modal-signIn__social {
    margin-top: 20px;
  }

  & .modal-signIn__divider {
    margin: 24px 20px;
  }

  & .modal-signIn__selector {
    position: relative;
    align-self: center;
    border-radius: 1000px;
    background-color: rgb(231, 231, 231);

    & > button {
      color: black;
      border: none;
      border-radius: 1000px;
      padding: 8px 10px;
      font-weight: bold;
      background-color: rgb(231, 231, 231);
      transition: filter 0.15s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &:last-child:not(.selected) {
        margin-left: -20px;
        padding-left: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-child:not(.selected) {
        margin-right: -20px;
        padding-right: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(.selected):hover {
        filter: brightness(0.9);
      }

      &.selected {
        transition: background-color 0.2s ease-in;
        background-color: black;
        color: white;
        position: relative;
        z-index: 10;
      }
    }
  }

  & .modal-signIn__form,
  & .modal-signUp__form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > button[type='submit'] {
      margin-top: 20px;
      background-color: red;
      font-weight: bold;

      &:hover {
        background-color: #d30000;
      }
    }
  }

  & .modal-signIn__form {
    & > .forgot-password-link {
      font-size: 13px;
      color: rgb(93, 93, 93);
      text-decoration: none;
      transition: filter 0.15s ease-in-out;
      margin-top: -10px;
    }
  }

  &.signUp {
    & .modal-signIn__selector {
      margin-top: 30px;
      margin-bottom: 25px;
    }
    & .modal-signUp__divider {
      margin: 0 25px;
    }

    & .modal-signUp__form {
      & .modal-signUp__form__row {
        display: flex;
        gap: 10px;

        & > .form-control__container {
          flex: 1;

          &.prefix-number {
            flex: 0.3;
          }
        }
      }
    }
  }
}
