@mixin respond-to($breakpoint) {
  @if $breakpoint == 'x-small' {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $breakpoint == 'small' {
    @media (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (min-width: 959px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin remove-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
