.sidebar__menu-item {
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: black;
  transition: background-color 0.15s;

  & + & {
    border-top: 1px solid rgb(202, 202, 202);
  }

  & > span {
    font-size: 18px;
    font-weight: bold;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.active span,
  &.active svg {
    color: red;
    fill: red;
  }

  &:visited {
    color: inherit;
  }
}
