.review-card {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;

  .review-card__header {
    color: #535353;
    .review-card__rating {
      display: flex;
      flex-wrap: nowrap;

      > svg.active ~ * {
        color: #535353;
        fill: transparent;
      }
    }
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    letter-spacing: 0.5px;
  }
}
